body {
  background-color: white;
}

.hero-div {
 background-image: url(../images/menstraul-hero_desktop.jpg); 
 background-size: cover;
 height: 60vh;
}

.hero-text {
  width: 25%;
  margin: 5rem;
  padding-top: 2rem;
}

.hero-button {
  outline: none;
}

@media (max-width: 479px) {
  .hero-div {
     background-image: url(../images/menstrual-hero_mobile.jpg); 
  }
  .hero-text {
    width: 25%;
    text-align: center;
    font-size: 12px; 
  }
}

.bamboo-div {
  background-image: url(../images/bamboo_desktop.jpg); 
  background-size: cover;
  height: 60vh;
  color: white;
}

.bamboo-text {
  width: 25%;
  margin: 5rem;
  padding-top: 2rem;
}

.bamboo-desktop {
  width: 90%
  
}

.pad-detail-desktop {
  width: 50%;
}

.pad-in-hand-desktop {
  width: 50%;
  float: right;
}

.pad-images {
  width: 20%;

}

.pad-images {
  width: 20%;
}

@media (max-width: 479px) {
  .collection {
    width: 100%;
}
  .pad-images {
    display: block;
    width: 100%;
  }
}

.new-to-public-goods-image {
  width: 100%;
}