body {
  background-color: white;
}

.hero-div {
 background-image: url(../images/menstraul-hero_desktop.jpg); 
 background-size: cover;
 height: 60vh;
}

.hero-text {
  width: 25%;
  margin: 5rem;
  padding-top: 2rem;
}

.hero-button {
  outline: none;
}

@media (max-width: 479px) {
  .hero-div {
     background-image: url(../images/menstrual-hero_mobile.jpg); 
  }
  .hero-text {
    width: 80%;
    text-align: center;
    font-size: 12px; 
    margin: 1rem;
  }
}

.bamboo-div {
  background-image: url(../images/bamboo_desktop.jpg); 
  background-size: cover;
  height: 60vh;
  color: white;
}

.bamboo-text {
  width: 25%;
  margin: 5rem;
  padding-top: 2rem;
}

@media (max-width: 479px) {
  .bamboo-div {
     background-image: url(../images/bamboo_mobile.jpg); 
     height: 30vh;
  }
  .bamboo-text {
    width: 75%;
    text-align: center;
    font-size: 12px; 
    margin: 1.5rem;
  }
}

.pad-info-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pad-detail-div {
  background-image: url(../images/pad_detail_desktop.jpg); 
  width: 50%;
  height: 40vh;
  background-size: cover;
  align-content: stretch;
  margin: 1rem;  
}

.pad-in-hand-div {
  background-image: url(../images/pad_in_hand_desktop.jpg); 
  width: 50%;
  height: 40vh;
  background-size: cover;
  margin: 1rem;
}



.pad-in-hand-desktop {
  width: 50%;
  float: right;
}

.pad-images {
  width: 100%;
}
.pad-div {
  width: 20%;
  display: inline-block;
  margin: 1rem;
}
@media (max-width: 479px) {
  .collection {
    width: 100%;
}
  .pad-images {
    display: block;
    width: 100%;
  }
  .pad-div {
    width: 100%;
    margin: 0;
  }
}

.new-to-public-goods-image {
  width: 100%;
}